Repository jenkinsci/bitbucket-push-and-pull-request-plugin, pull requests merged in 2020-10, with the labels that each got.

#128 [push] new filter option: triggerOnlyIfTagPush (cloud + server)
  README.md
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/action/BitBucketPPRAction.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/action/BitBucketPPRServerRepositoryAction.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/extensions/dsl/BitBucketPPRHookJobDslContext.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRRepositoryPushActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRServerRepositoryPushActionFilter.java
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRRepositoryPushActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRServerRepositoryPushActionFilter/config.jelly
Labels: dsl-extensions, views

#136 add x-event to env vars
  README.md
  docs/index.md
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/BitBucketPPRTrigger.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/BitBucketPPRTriggerCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestApprovedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestCommentCreatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestCommentDeletedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestCommentUpdatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestCreatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestMergedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/cloud/BitBucketPPRPullRequestUpdatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/server/BitBucketPPRPullRequestServerApprovedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/server/BitBucketPPRPullRequestServerCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/server/BitBucketPPRPullRequestServerCommentCreatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/server/BitBucketPPRPullRequestServerCreatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/server/BitBucketPPRPullRequestServerMergedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/server/BitBucketPPRPullRequestServerSourceUpdatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/pullrequest/server/BitBucketPPRPullRequestServerUpdatedCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/repository/BitBucketPPRRepositoryCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/cause/repository/BitBucketPPRServerRepositoryCause.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/environment/BitBucketPPREnvironmentContributor.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/BitBucketPPRTriggerFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestApprovedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestCommentCreatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestCommentDeletedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestCommentUpdatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestCreatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestMergedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestTriggerFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestUpdatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerApprovedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerCommentCreatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerCreatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerMergedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerSourceUpdatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerTriggerFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerUpdatedActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRRepositoryActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRRepositoryPushActionFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRRepositoryTriggerFilter.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRServerRepositoryPushActionFilter.java
  src/test/java/io/jenkins/plugins/bitbucketpushandpullrequest/environment/BitBucketPPREnvironmentContributorTest.java
Labels: docs, test

#137 Feature/#132 missing env vars for matrix
  README.md
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/environment/BitBucketPPREnvironmentContributor.java
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/environment/BitBucketPPREnvironmentContributor/buildEnv.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/environment/BitBucketPPREnvironmentContributor/buildEnv.properties
Labels: enhancement, views
