Repository jenkinsci/bitbucket-push-and-pull-request-plugin, pull requests merged in 2020-02, with the labels that each got.

#83 Feature/update readme
  .github/labeler.yml
  README.md
  docs/25de6f8dfbf5548d06d2ac4605f20501193b1b63.png
  docs/80aa1f0b2a9410656c8cdd6df9d6ad94eaf19336.jpg
  docs/img/conf_git.png
  docs/img/conf_mercurial.png
  docs/img/example_config_jenkins_bb_ppr_1.png
  docs/img/example_config_jenkins_bb_ppr_2.png
  docs/img/example_config_jenkins_bb_ppr_3.png
  docs/img/example_config_jenkins_bb_ppr_4.png
  docs/index.md
Labels: docs

#84 Add help tooltips for branch filters
  .github/labeler.yml
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestApprovedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestApprovedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestCreatedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestCreatedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestMergedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestMergedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestUpdatedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/cloud/BitBucketPPRPullRequestUpdatedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerApprovedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerApprovedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerCreatedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerCreatedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerMergedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerMergedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerUpdatedActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/pullrequest/server/BitBucketPPRPullRequestServerUpdatedActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRRepositoryPushActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRRepositoryPushActionFilter/help-allowed.html
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRServerRepositoryPushActionFilter/config.jelly
  src/main/resources/io/jenkins/plugins/bitbucketpushandpullrequest/filter/repository/BitBucketPPRServerRepositoryPushActionFilter/help-allowed.html
Labels: views

#85 Add sponsor
  README.md
  docs/img/silpion_logo.png
  docs/index.md
Labels: docs

#87 Add developers and backward compatibility spec.
  pom.xml
  src/main/resources/index.jelly
Labels: views

#93 Feature/refactoring env vars
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/action/BitBucketPPRServerRepositoryAction.java
  src/main/java/io/jenkins/plugins/bitbucketpushandpullrequest/environment/BitBucketPPREnvironmentContributor.java
  src/test/java/io/jenkins/plugins/bitbucketpushandpullrequest/environment/BitBucketPPREnvironmentContributorTest.java
  src/test/java/io/jenkins/plugins/bitbucketpushandpullrequest/processor/BitBucketPPRRepositoryPayloadProcessorTest.java
  src/test/resources/cloud/pr_approved.json
  src/test/resources/cloud/pr_created.json
  src/test/resources/cloud/pr_fulfilled.json
  src/test/resources/cloud/pr_updated.json
  src/test/resources/cloud/repo_push.json
  src/test/resources/repo_push.json
  src/test/resources/server/pr_merged.json
  src/test/resources/server/pr_modified.json
  src/test/resources/server/pr_opened.json
  src/test/resources/server/pr_reviewer_approved.json
  src/test/resources/server/repo_refs_changed.json
Labels: test
